 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">

           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 

 <h2>Posts</h2>
 <%= count_posts(@user) %>
 
 <h2>Comments</h2>
    <%= count_comments(@user) %>
 
  <div class="media">
    <div class="media-body">
      <h2 class="media-heading">Favorited Posts</h2>
      <%= favorited_posts(@user) %>
    </div>
    <div class="media-right">
    </div>
  </div>